<!-- Start -->
  <div class="row no-margin" id="start">
    <div class="col s12 m6 l6">
      <section class="container section no-pad-top">
        <h3>Privacy</h3>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <br>
        <%= link_to 'Learn More', new_user_registration_path, class: "waves-effect waves-light btn-large light-blue accent-2 primo-btn", id: "modalwhite" %>
        <!--<a href="http://github.com/lbluigi/primo-material" class="waves-effect waves-light btn-large light-blue accent-2 primo-btn" target="_blank"><i class="material-icons right"></i>Learn More</a>-->
      </section>
    </div>

    <div class="col s12 m6 l6 primo-start-1">
      <h2 id="calm">Blending your creativity<br />with the world.</h2>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l6 push-m6 push-l6">
      <section class="container section no-pad-top">
        <h3>Give Credit</h3>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        <br>
      </section>
    </div>

    <div class="col s12 m6 l6 pull-m6 pull-l6 primo-start-2">

    </div>