<div class="col s12 m8 l9"> 
    <div class="card-gallery" style="">
            <div class="card-image">
              <!--<img src="images/sample-1.jpg">-->
              <span class="card-title"><em>Write responsibly</em></span>
            </div>
            <div class="card-content">
              <p> Find the inspiration you're looking for using our BlendGen.<br> <span style=""><em style="font-size: 25px;">"BlendGen. Some say its a cross between BlendIt & Engine."</em></span></p>
              <!--images-->
               <div class="col s12 people"><span style="background-color: black;">People</span></div>
                  <div class="col s6 nature"><span style="background-color: black;">Nature</span></div>
                  <div class="col s6 food"><span style="background-color: black;">food</span></div>
                  <div class="col s12 buildings"><span style="background-color: black;">buildings</span></div>
              <!--end-->
            </div>
          </div>
      </div>
<!--gallery post page-->